<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ADPProject-20170206043703.mdf;Initial Catalog=aspnet-ADPProject-20170206043703;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AgdServer" value=""/>
    <add key="AgdDatabase" value=""/>
    <add key="AgdUid" value=""/>
    <add key="AgdPassword" value=""/>
     <add key="PipelineServer" value="5OMlDf8bPNtKSQ4ib5AIV1Goec9qwEtNgOOPRCnUrr2sO4IRehovRA2L8UIH1r+bQOUNgNvhB4nWIuBzYvsBo/V2r27mZHyarwzM4OnvdmLtx53dSLL9JbOMhZTIjJ+0y0JAkfdVcP3iIAcfsuRgGMj29lxpI8HRX7lTvX/3abwiCT/uQCDg6bxlOCA5HMPNJtGkdVUhnYJvNvkb3suSxoL8nHP/AVFv+JcICNC1Qzqg1JHa3ylDdDgE1YyGFzSf/8kjFH5w89uDflvY7rUOdmGi9QnOGpYMywTUzV6nSOt8R0U1AH+Fc5sPAKSpOvs3ATT49Wm7fPAWCII7EbD+GH+zlU+aJ4h/kJC/8QIIDWU="/>
    <add key="PipelineDatabase" value="8hxrMYbEtXtBG8v53qzLCaY840DJACEjyP0eYMO3pOIvZ5l84aCOmLFkl12ON/S5jGOXMzgf/E985WwSXX0IfoURVuSZAuB/OmJKPN7iFElWqQWOSveBmotOdAzlrWWbthb6lLzcgFohOabyWNm/k6oVLsKxRIrdwB/YIIKU474N/VyFtVVjdYh0UqtKmvFcjYAxPHsATZ2agLwB6tHtjYQv5vXUgjEuZTCbiy3N4KnhckKIsQkTIQ3GbUVabbTiOHDBHRCH5zS1xdfK8hIBREWaB/Uihg3uca9T9tdKdW39a6u9+uOEh4z/yMG6x9SkCmCACISreLwCijuaQvq5PFvbna5oZliTFliWTA9cBdc="/>
    <add key="PipelineUid" value="snGdvCrN3MwbPyVkcNCx2XOkpXKe8sYZSa4X8aZKsMeywJAXSSHFzAJ4HqeBU3g67ixCCtboJFJ1QXXn8VWm62PKuqX/n4mlgms8nG2CKeYLheoYLZvl+UDCKsj2LByFSkXnMHZrSpWAkn+l6y+6OXrYesCkj3W0iPVpahmc7fXT3b0zoWMzAqB/JMGjvHONKU+kLDN3yQrBSMbc4dH/SCJ4H7mFB1LqKZD5xWHwXMPjIun9eRZZsVhwRN+pbxdyOY3FvyZH+qvp6PA0k8rUTPS1iXpoTMuOvZgqydOLjpAoCxdU9pFeIYX6MLFyCzkrI3D9ykX8/YCmeTv+eMfnxIlcIoufSn2O5OAU6XhTn/8="/>
    <add key="PipelinePassword" value="Lu3wdp+QbDosQqma09XUD9bgLUMLvbGCrihl6JnZZeUkgjVtzfcE2wWSOKEBBQBW7nWQcr+sKI4v6mY+Ep0wQrSnKvg94Lkq8KNqwtPPuAe+gJLzyiDCFlEUkBA6aYdZw795HbuZiyf70pxcitIwXha0X9VsOvIADf/A9ew/UIbFVmo31BOPNRa4bnaXp5elTt6S5Ilim5W8oYflWn8vNG3FyKovEtZvMPZqHK0v0++i9w4OM0JDUjjzZxMIyozkzCOlTIze0R47IfHiY+yuC+J+6LWk1/OItqRNRGr4fGQH3DU71meQBoT3pHlnIs8Q3mQ3ZRBK9e9EszZqgN+aaIX4OMisjAgkwyE2Xq52s90="/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>